.avatarTab {
    height: 5.5vh;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.avatarTab:hover {
    background-color: #F2F2F2 !important;
    transition: 100ms ease-in-out;
    cursor: pointer;
}

.avatarTab__icon {
    height: 68%;
    width: 11%;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #D8DADF;
}

.avatarTab > p {
    font-weight: 500;
    margin-left: 5%;
}

.avatarTab--active {
    background-color: #EAF3FF !important;
}

.avatarTab__icon--active {
    background-color: #1977F2 !important;
    height: 66%;
    width: 11%;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #D8DADF;
}

.avatarTab__icon--active > .MuiSvgIcon-root {
    color: white;
}