.createStory {
    width: 18%;
    border-radius: 12px;
    padding-top: 2%;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.363);
}

.createStory:hover {
    background-color: #e4e6e980;
    transition: 100ms ease-in-out;
    cursor: pointer;
}

.createStory__top {
    height: 60%;
    display: flex;
    justify-content: space-around;
}

.createStory__top > img {
    object-fit: contain;
}

.createStory__bottom {
    display: flex;
    flex-direction: column;
    padding-top: 10%;
}

.createStory__bottom--line {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.createStory__bottom--line > p {
    font-weight: 500;
}