.friend {
    height: 5vh;
    display: flex;
    align-items: center;
    border-radius: 12px;
}

.friend:hover {
    background-color: #E4E6E9;
    transition: 0.2s;
    cursor: pointer;
}

.friend__pic {
    height: 100%;
    width: 19%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.friend > p {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.664);
}



