.rightSidebar {
    padding-left: 120px;
    padding-right: 6px;
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased;
}

.rightSidebar::-webkit-scrollbar {
    background-color: transparent;
    width: 7px;
}

.rightSidebar::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.637);
    border-radius: 18px;
}

.rightSidebar__sponsered {
    height: 325px;
    padding-top: 20px;
    border-bottom: 1px solid lightgray;
}

.rightSidebar__sponsered > h4 {
    color: rgb(158, 157, 157);
}

.rightSidebar__requests {
    border-bottom: 1px solid lightgray;
    height: 150px;
}

.rightSidebar__requestsHeader {
    display: flex;
    justify-content: space-between;
}

.rightSidebar__requestsHeader > h3 {
    color: #65676B;
}

.rightSidebar__requestsHeader > p {
    color: #1770E6;
    cursor: pointer;
}

.rightSidebar__requestsBody {
    display: flex;
    height: 75%;
}

.rightSidebar__requestsBody--pic {
    width: 25%;
    display: flex;
}

.rightSidebar__requestsBody--pic > img {
    object-fit: contain;
}

.rightSidebar__requestsBody__main {
    flex: 1;
    margin-left: 40px;
}

.rightSidebar__requestsBody__main--content {
    height: 50%;
    width: 95%;
    padding-top: 10px;
}

.rightSidebar__requestsBody__main--content > p {
    font-size: 13px;
    color: gray;
}

.rightSidebar__requestsBody__main--buttons {
    height: 25%;
    width: 90%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.rightSidebar__contactsHeader {
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rightSidebar__contactsHeader > h3 {
    color: #65676B;
}

.rightSidebar__contactsHeader--icons {
    margin-right: 5px;
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.rightSidebar__contactsHeader--icons > .MuiSvgIcon-root {
    color: gray;
    cursor: pointer;
}

.rightSidebar__contactsBody {
    height: 335px;
}