.rightSidebar {
    width: 76%;
    height: 99%;
    margin: 0 0 0 19%;
    padding: 1% 2% 0 2%;
    overflow-y: scroll;
}

.rightSidebar > p {
    font-weight: 700 !important;
    color: #18110c5e;
    margin: 4% 0;
}

.rightSidebar__sidebarAd--container {
    height: 15%;
    margin: 0 0 0 0;
}

.rightSidebar--line {
    border-bottom: 1px solid lightgray;
}

.rightSidebar__bottomHeader {
    height: 4.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rightSidebar__bottomHeader > p {
    font-weight: 500;
    color: #18110c79;
    font-size: 18px;
}

.rightSidebar__bottomHeader__buttons {
    width: 33%;
    height: 100%;
    padding: 0 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rightSidebar__bottomHeader__button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 75%;
    width: 26%;
    border-radius: 20px;
    cursor: pointer;
}

.rightSidebar__bottomHeader__button:hover {
    background-color: #E4E6E9;
}

.rightSidebar::-webkit-scrollbar {
    background-color: transparent;
    width: 7px;
}

.rightSidebar::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.637);
    border-radius: 18px;
}





