.watchSidebar {
    background-color: #FFFFFF;
    height: 92vh;
    width: 72%;
    border-right: 1px solid lightgray;
    padding: 10px 0 0 15px;
}

.watchSidebar__header {
    border-bottom: 1px solid lightgray;
    height: 10vh;
    margin: -1% 15px 1% 0;
}

.watchSidebar__headerTop {
    display: flex;
    justify-content: space-between;
    height: 40%;
    align-items: center;
}

.watchSidebar__headerTop--settings {
    background-color: #D8DADF;
    border-radius: 28px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 11%;
}

.watchSidebar__headerTop--settings:hover {
    background-color: #c9cbcf;
    cursor: pointer;
}

.watchSidebar__headerSearch {
    height: 40%;
    margin-top: 3%;
    border-radius: 20px;
    background-color: #F0F2F5;
    display: flex;
    align-items: center;
    padding-left: 2%;
}

.watchSidebar__headerSearch > .MuiSvgIcon-root {
    color: gray;
}

.watchSidebar__headerSearch > input {
    flex: 1;
    background-color: transparent;
    border: none;
}

.watchSidebar__headerSearch > input:focus {
    outline: none;
}

.watchSidebar__main {
    overflow-y: scroll;
}

.watchSidebar__main::-webkit-scrollbar {
    background-color: transparent;
    width: 7px;
}

.watchSidebar__main::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.342);
    border-radius: 18px;
}

.watchSidebar__mainTop {
    border-bottom: 1px solid lightgray;
    height: 28.5vh;
}

.watchSidebar__mainBottom {
    height: 52vh;
}

.watchSidebar__mainBottom__header {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.watchSidebar__mainBottom__header > p {
    font-weight: 500;
    font-size: 18px;
}

.watchSidebar__mainBottom__header--p {
    color: #1977F2;
    font-weight: 400 !important;
    cursor: pointer;
    font-size: 16px !important;
}